{% extends "blog/card.html" %}
{% load static %}

{# commet #} Card 1 - CTF Writeup
  {% block CardTitle1 %}
  CTF Writeup
  {% endblock CardTitle1 %}
  {% block CardInfo1 %}
  {% block RecentWritup %}
  There's no writeup yet.
  {% endblock RecentWritup %}
  {% endblock CardInfo1 %}

{# commet #} Card 2 - Book Review
  {% block CardTitle2 %}
  Book review
  {% endblock CardTitle2 %}
  {% block CardInfo2 %}
  {% block RecentReview %}
  There's no review yet.
  {% endblock RecentReview %}
  {% endblock CardInfo2 %}

