{% extends "blog/base.html" %}
{% block content %}
<div class="row">
  <div class="col s12 m6 l6">
    <div class="card waves-effect waves-light hoverable" style="width: 100%">
      <div class="card-image">
        <img src="{{ reviewimg.url }}"
        style="
        height: 300px;
        object-fit: cover;
        object-position: top;"
        alt={{ reviewimg.name }}>
        <div class="card-action center-align">
          <a href="#" style="font-size: 20px;">Book Review</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <a class="center-align" href="{% url 'blog:writeups' %}">
      <div class="card waves-effect waves-light hoverable" style="width: 100%">
        <div class="card-image">
          <img src="{{ writeupimg.url }}"
          style="
          height: 300px; 
          object-fit: cover; 
          object-position: top;" 
          alt={{ writeupimg.name }}>
          <div class="card-action center-align">
            <a href="{% url 'blog:writeups' %}" style="font-size: 20px;">CTF Writeup</a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<blockquote>
  <h5>
    Recent posts
  </h5>
</blockquote>

<div class="row">
{% for writeup in writeups %}
  <div class="col s12 m6 l3">
    <a href="{% url 'blog:problem' writeup.ctf writeup.name %}"> 
      <div class="card waves-effect waves-light hoverable" >
        <div class="card-image">
          <img src="{{ writeup.ctf.img.url }}" style="
          height: 300px;
          object-fit: cover;
          object-position: top;" 
          alt={{ writeup.ctf.img.name }}>
          <div class="card-title">
            <p style="color: black;">Writeup - <br>{{ writeup.name }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
{% for review in reviews %}
  <div class="col s12 m6 l3">
    <div class="card waves-effect waves-light hoverable" style="width: 100%;" >
      <div class="card-image">
        <img src="{{ review.img.url }}" style="
        height: 300px;
        object-fit: cover;
        object-position: top;" 
        alt={{ review.img.name }}>
        <div class="card-title">
          <p>Review - <br>{{ review.name }}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>


{% endblock content %}
